.sidebar {
    margin: 0;
    padding: 0;
    width: 240px;
    background-color: #ffffff;
    position: fixed;
    height: 100%;
    overflow: auto;
    border-right: 1px solid #eaeaea;
}

.sidebar a {
    
    padding: 16px;
    
}

.sidebar-logout {
    position: absolute;
    display: flex;
    bottom: 70px;
    padding-left: 5px;
    font-size: 24px;
    align-items: center;
}

.sidebar-data{
    display: flex;
    padding-left: 5px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 24px;
    align-items: center;
}

.sidebar-page{
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #eaf5f9;
    border-radius: 7px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 24px;
    align-items: center;

}


@media screen and (max-width: 600px) {
    .sidebar {
        display: flex;
        flex-direction:row;
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: #ffffff;
        position: fixed;
        height: auto;
        border-right: 1px solid #eaeaea;
        overflow: hidden;
        
    }
    
    .sidebar a {
        margin-top: 9px;
       padding : 10px
    }

    .sidebar-data,
    .sidebar-page {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 7px;
    font-size: 24px;
    align-items: center;
       
    }
    .navbar{
        display: flex;
        
    }

    .sidebar-logout {
    left: 3px;
    background-color: aliceblue;
    border-color: black;
    border: solid 1px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
    bottom: 20px;
    position:fixed;
    border-radius: 7px;
    font-size: 18px;
    align-items: center;
    }
    
}
